amply==0.1.2
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
cvxpy==1.0.31
cycler==0.10.0
dill==0.3.2
docutils==0.16
ecos==2.0.7.post1
future==0.18.2
html2text==2020.1.16
idna==2.10
kiwisolver==1.2.0
lxml==4.5.2
matplotlib==3.3.0
multiprocess==0.70.10
multitasking==0.0.9
numpy==1.19.1
osqp==0.6.1
pa==0.0.23.dev0
pandas==1.0.5
pandas-datareader==0.9.0
Pillow==7.2.0
pprint==0.1
PuLP==2.2
pyparsing==2.4.7
pyportfolioopt==1.2.4
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
scs==2.1.2
six==1.15.0
soupsieve==2.0.1
ta==0.7.0
urllib3==1.25.10
wallstreet==0.3
yahoo-finance-api2==0.0.8
yfinance==0.1.54
