matplotlib==3.3.0
multiprocess==0.70.10
multitasking==0.0.9
numpy==1.19.1
osqp==0.6.1
pa==0.0.23.dev0
pandas==1.0.5
pandas-datareader==0.9.0
#yahoo-finance-api2==0.0.8
yahoo-finance-api2
yfinance==0.1.54
ta==0.7.0
Flask==1.0.2